<form>
	<fieldset>
		<legend>Add a comment</legend>
		<div class="form-group">
			<label for="comment-title">Title</label><br>
			<input class="form-control" type="text" name="title" placeholder="title" id="comment-title">
		</div>
		<div class="form-group">
			<label for="comment-content">Description</label>
			<textarea class="form-control" name="content" rows="10" placeholder="Your comment..." id="comment-content"></textarea>
		</div>
	</fieldset>

	<div class="form-group">
		<button class="btn btn-primary" type="submit">Save comment</button>
	</div>
</form>
