<fieldset>
	<legend>Edit review</legend>

	<div class="form-group">
		<label for="review-title">Title</label><br>
		<input class="form-control" type="text" name="title" value="{{review.title}}" id="review-title">
	</div>

	<div class="form-group">
		<label for="movie-title">Movie title</label><br>
		<input class="form-control" type="text" name="movieTitle" value="{{review.movieTitle}}" id="movie-title">
	</div>

	<div class="form-group">
		<label for="review-description"></label><br>
		<textarea class="form-control"  name="review" cols="50" rows="4" id="review-description">{{review.review}}</textarea>
	</div>
	<div class="form-group">
		<label for="movie-rating">Movie rating</label><br>
		<select id="movie-rating" name="rating">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
	</div>

</fieldset>
