<form method="POST" action="/reviews">
	<fieldset>
		<legend>New Review</legend>
		
		<!--Review title-->
		<p>
			<label for="review-title">Title</label><br>
			<input type="text" name="title" id="review-title">
		</p>
		<!--Movie title-->
		<p>
			<label for="movie-title">Movie title</label><br>
			<input type="text" name="movieTitle" id="movie-title">
		</p>
		<!--Movie review-->
		<p>
			<label for="movie-review">Review</label></br>
			<textarea rows="4" cols="50" name="review" placeholder="Enter your review" id="movie-review"></textarea>
		</p>
		<!--Movie rating-->
		<p>
			<label for="movie-rating">Movie rating</label><br>
			<select id="movie-rating" name="rating">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">1</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</p>
	</fieldset>

	<p>
		<button type="submit">Save review</button>
	</p>
</form>
